-- NFL Fantasy Week 1 Picks Recovery Script
-- Generated automatically from user data

-- Clear any existing Week 1 picks
DELETE FROM user_picks WHERE game_id IN (
    SELECT id FROM nfl_games WHERE week = 1 AND year = 2025
);

-- Picks for JAVIER
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'IND', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LV', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DET', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 24, 10, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'javier' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for VIZCA
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ATL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 24, 17, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'vizca' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for ROBERT
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'IND', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SEA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'HOU', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 28, 21, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'robert' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for COYOTE
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ATL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LV', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 27, 21, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'coyote' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for JEAN
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DET', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 24, 20, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'jean' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for RAMFIS
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 22, 19, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'ramfis' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for GUILLERMO
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DET', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'HOU', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 28, 10, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'guillermo' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for JONIEL
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DET', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 26, 22, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'joniel' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for RADA
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 20, 14, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'rada' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for RAYMOND
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LV', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SEA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'HOU', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'MIN', 25, 21, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'raymond' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for SHORTY
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PHI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ATL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SEA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 35, 24, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'shorty' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for KRISTIAN
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'ARI', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'WSH', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'GB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 20, 13, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'kristian' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

-- Picks for FER
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DAL', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'DAL' AND g.home_team = 'PHI' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'KC', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'KC' AND g.home_team = 'LAC' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TB', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'TB' AND g.home_team = 'ATL' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'CIN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'CIN' AND g.home_team = 'CLE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'MIA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'MIA' AND g.home_team = 'IND' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'JAX', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'CAR' AND g.home_team = 'JAX' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NE', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'LV' AND g.home_team = 'NE' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NO', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'ARI' AND g.home_team = 'NO' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'PIT', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'PIT' AND g.home_team = 'NYJ' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'NYG', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'NYG' AND g.home_team = 'WSH' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'TEN', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'TEN' AND g.home_team = 'DEN' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'SEA', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'SF' AND g.home_team = 'SEA' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'DET', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'DET' AND g.home_team = 'GB' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'LAR', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'HOU' AND g.home_team = 'LAR' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, created_at)
SELECT u.id, g.id, 'BUF', datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'BAL' AND g.home_team = 'BUF' AND g.week = 1 AND g.year = 2025;
INSERT INTO user_picks (user_id, game_id, selected_team, predicted_home_score, predicted_away_score, created_at)
SELECT u.id, g.id, 'CHI', 28, 24, datetime('now')
FROM users u, nfl_games g
WHERE LOWER(u.username) = 'fer' AND g.away_team = 'MIN' AND g.home_team = 'CHI' AND g.week = 1 AND g.year = 2025;

